:root{
    --blue: #7594FF;
    --darkBlue: #1B203D;
    --red: #D92222;
    --mediumBlue: #364254;
}

body {
    max-width: 100%;
    min-height: 100vh;
    padding: 0%;
    margin: 0%;
    background: linear-gradient(rgba(0, 0, 0, 65%), rgba(0, 0, 0, 65%)), url(./Images/Moosh_shapes_flying_sci-fi_sooming_colorfull_blue_background_li_268b92c1-b705-4663-a652-5eef33785b07.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(-2);
    backdrop-filter: blur(4px);
}

#background-image {
    filter:brightness()
}

h1 {
    font-family: 'Teko', 'Courier New', Courier, monospace;
    color: white;
    font-size: 50px;
    text-align: center;
    text-decoration: double;
}

h2 {
    font-family: 'Exo', 'courier', 'monoscape';
}

h3 {
    color: white;
}

li {
    display: inline-block;
    text-align: center;
    align-content: center;
}


ul a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
}

nav a {
    font-size: 1.5rem;
    font-weight: 400;
}

.active {
    background-color: var(--blue);
}

main h2 {
    color: rgb(225, 239, 255);
}

body p {
    color: white
}

main {
    max-width: 100%;
}

main div {
    text-align: center;
    margin-top: 10px;
}

.header_container {
    background-color: rgb(86, 90, 145);
    padding: 1%;
}

nav, 
#menu-checkbox {
    display: none;

}

#menu-checkbox:checked ~ nav {
    display: block;
    z-index: 3;
}

.logo-game_hub img {
    height: 100px;
}

.header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.menu_container {
    display: flex;
    justify-content: center;
    flex: 1;
    -ms-flex-align: center;
}

.profile {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 0.5;
}

.cart {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 0.5;
}

div .profile i {
    height: 30px;
    width: 40px;
}

div .cart i {
    height: 30px;
    width: 40%px
}

/* Hero section */

.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 2%;
}

.grid_item {
    padding: 5%;
}

.grid_item a{
    color: white;
    text-decoration: none;
    background-color: var(--red);
    font-size: 140%;
}

/* buttons hero section */

.button-container {
    justify-content: center;
}

.red-button {
    background-color: #ff0000; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px; 
    cursor: pointer;
}

.red-button:last-child {
    margin-right: 0; 
}

.red-button:hover {
    background-color: #cc0000; 
}

/* Popular games list */

.Popular_games_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 100%;
    justify-content: center;
    padding-bottom: 20px;
}

.popular_games h2{
    font-size: '16px';
}

.popular_games, img{
    width: 10rem;
    height: 12rem;
    cursor: pointer;
    transition: 0.1s;
}

.popular_games img:hover {
    transition: 0.1s;
    transform: scale(1.1);
}

@media (min-width: 1200px) {
    nav {
        display: flex;
        flex-direction: row;
        position: static;
        align-items: center;
        justify-content: space-between;
        font-size: 24px;
        font-weight: 800;
        padding-left: 5%;
        padding-right: 5%;
        }

    .hamburger-icon {
        display: none;
    }
}


@media (max-width: 767px) {
    body {
        background-color: aqua;
        font-size: 14px;
    }
    .GameNews_container {
        background-color: black;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 5%; 
        justify-content: center;
        padding-bottom: 10%;
    }
    .grid_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 2%;
    }
}

/* Game news */

.gameNews_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5%; 
    padding-bottom: 150px;
    margin: 0% 5%;
}

.GameNews img {
    max-width: 30%;
    height: 200px;
    cursor: pointer;
    transition: transform 0.s;
}

.GameNews img:hover {
    transform: scale(1.1);
}

.GameNews {
    background-color: var(--mediumBlue);

}

.text-box {
    background-color: var(--darkBlue);
    padding: 10px;
}

/* Footer */

footer {
    color: white;
    background-color: rgb(22, 13, 46);
    bottom: 0%;
}

.footer_container {
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;;
}

.footer_item {
    justify-content: center;
    flex: 1;
    font-size: large;
}

.footer_item li {
    color: white;
    text-decoration: none;
}

.footer_item ul {
    z-index:2;
    padding: 0%;
}