/* <!--// Checkout //--> */

.checkout-section {
    background-color: #1B203D;
    border-radius: 25px;
    margin-left:  10%;
    margin-right: 10%;
    margin-top: 10%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.item-details {
    display: flex;
    display: inline-block;
    margin: 0px 150px;
    width: 100%;
}

.item-details img {
    border-radius: 20px;
    min-width: 100px;
    width: 60%;
    height: auto;
    margin-bottom: 10px;
}

.item-price {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.transport-type {
    margin-bottom: 20px;
}

.transport-type p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.total-sum {
    font-size: 24px;
    justify-content: right;
}

/* Card information/Checkout */

.h1-box h1 {
    justify-content: center;
    margin-top: 100px;
    color: white;
}

.payment-container {
    margin-top: 100px;
}

.payment-info-container {
    border-radius: 25px;
    background-color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 500px;
    gap: 20px;
}

.exp-cvc {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.typebox {
    width: 100%;
    padding: 10px;
    height: 50px;
    font-size: large;
    box-sizing: border-box;
    color: var(--white);
    border: none;
    background-color: white;
    outline: 2px solid var(--blue);
    border-radius: 10px;
    justify-content: center;
}

.pay-btn-container {
    min-width: 50%;
    margin: 0px 20px;
    padding: 5%;
    display: flex;
    justify-content: center;
    color: white;
}

.pay-btn-box a {
    border-radius: 25px;
    background-color: #7594FF;
    display: flex;
    color: white;
    padding: 15px 30px;
    margin: 0%;
    font-size: 24px;
    text-decoration: none;
}
