
/* Hero section */

.main-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 100px;
    padding-left: 15%;
    padding-right: 15%;
}

.logo-image {
    background-color: var(--mediumBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.logo-image img {
    max-width: 100%;
}

.info-box {
    background-color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.info-box p{
    margin: 20px 40px;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}


@media screen and (max-width: 600px) and (orientation: portrait) {
    body {
        background-color: aqua;
        font-size: 14px;
        scale: 0.5;
    }
}

/* Employes */

.h2-container {
    padding: 50px;
    text-align: center;
}

.h2-container h2 {
    color: white;
    background-color: hsla(216, 6%, 16%, 0.445);
    margin: 0% 30%;
}

.employe-container {
    background-color: #364254;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 100%;
    margin-bottom: 100px;
}

.employe-info {
    color: #7594FF;
    text-align: center;
    padding: 10px;
}

.employe-info img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    max-width: 50%;
}

.employe-info h3 {
    max-width: 100%;
    margin: 10px 0;
}

/* Footer */

footer {
    color: white;
    background-color: rgb(22, 13, 46);
    min-width: 100%;
    bottom: 0;
}

.footer_container {
    display: flex;
    text-align: center;
    align-items: center;
}

.footer_item {
    flex: 1;
    font-size: large;
}

.footer_item SVG {
    color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 30px;
    height: 50px;
    cursor: pointer;
    margin: 1% 5% 1% 5%;
}

.footer_item li {
    color: white;
    text-decoration: none;
}

.footer_item ul {
    z-index: 2;
    padding: 0%;
    margin: 0%;
}