html, body {
    min-height: 100%;
}

:root{
    --blue: #7594FF;
    --darkBlue: #1B203D;
    --red: #D92222;
    --mediumBlue: #364254;
}

body {
    margin: 0px 50px 0px 50px;
    background-image: url("/Images/Moosh_shapes_flying_sci-fi_sooming_colorfull_blue_background_li_268b92c1-b705-4663-a652-5eef33785b07.png");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(4px);
}

h1 {
    font-family: 'Teko', 'Courier New', Courier, monospace;
    color: var(--blue);
    font-size: 50px;
    text-align: center;
    text-decoration: double;
}

h2 {
    font-family: 'Exo', 'courier', 'monoscape';
    text-align: center;
}

h3 {
    color: white;
}

li {
    display: inline-block;
    text-align: center;
    align-content: center;
}

ul a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
}

nav a {
    font-size: 1.5rem;
    font-weight: 400;
}

.active {
    background-color: var(--blue);
}

main h2 {
    color: rgb(225, 239, 255);
}

body p {
    color: white
}


.header_container {
    background-color: rgb(86, 90, 145);
    padding: 1%;

}

.logo-game_hub img {
    max-width: 200px;
}

.header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.menu_container {
    display: flex;
    justify-content: center;
    flex: 1;
    -ms-flex-align: center;
}

.profile {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 0.5;
}

.cart {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 0.5;
}

div .profile svg {
    height: 30px;
    width: 40px;
}

div .cart svg {
    height: 30px;
    width: 40px
}

/* Hero section */

.main-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 100px;
}

.logo-image {
    background-color: var(--mediumBlue);
    display: flex;
    justify-content: center;
}

.logo-image img {
    max-width: 100%;
}

.info-box {
    background-color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.info-box p{
    margin: 20px 40px;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}


@media screen and (max-width: 600px) and (orientation: portrait) {
    body {
        background-color: aqua;
        font-size: 14px;
        scale: 0.5;
    }
}

/* Employes */

.h2-container {
    padding: 50px;
}

.h2-container h2 {
    color: white;
    background-color: hsla(216, 6%, 16%, 0.445);
    margin: 0% 30%;
}

.employe-container {
    background-color: #364254;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 100%;
    margin-bottom: 100px;
}

.employe-info {
    color: #7594FF;
    text-align: center;
    padding: 10px;
}

.employe-info img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    max-width: 50%;
}

.employe-info h3 {
    max-width: 100%;
    margin: 10px 0;
}

/* Footer */

footer {
    color: white;
    background-color: rgb(22, 13, 46);
    min-width: 100%;
    bottom: 0;
}

.footer_container {
    display: flex;
    text-align: center;
    align-items: center;
}

.footer_item {
    flex: 1;
    font-size: large;
}

.footer_item SVG {
    color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 30px;
    height: 50px;
    cursor: pointer;
    margin: 1% 5% 1% 5%;
}

.footer_item li {
    color: white;
    text-decoration: none;
}

.footer_item ul {
    z-index: 2;
    padding: 0%;
    margin: 0%;
}