
/* Sell information */

.game-sell-section {
    background-color: var(--mediumBlue);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
    margin: 10%;
    justify-content: center;
    border-radius: 20px;
}

.game-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.game-cover input {
    width: 100%;
    margin-right: 20px;
}

.details {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
}

select {
    width: 100%;
}

input[type="text"],
select {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sell-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sell-button {
    background-color: #ff0000; /* Red color for button */
    color: white;
    padding: 10px;
    margin-top: 10px;
    align-self: flex-end;
}

.checkout-box {
    align-self: flex-end;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}